# config/cache.yml
default: &default
  store_options:
    # max_age: <%= 60.days.to_i %>   # 必要なら有効化
    max_size: <%= 256.megabytes %>
    namespace: <%= Rails.env %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
  database: cache   # ← これが "cache" シャード（database.yml の production.cache）を使う指定
