/.bundle/
/vendor/bundle/
log/*
!/log/.keep
tmp/*
!/tmp/.keep
/storage/*
!/storage/.keep
/db/*.sqlite3*
/config/master.key
/config/credentials/*.key
/coverage/
.byebug_history
/public/assets
/public/packs
.env
.env.*
.env.*.local
.DS_Store
*.csv
